# Playwright and Allure folders
allure-report/
allure-results/

# Playwright test results and reports
test-results.json
test-results-*.json
playwright-report
test-results

# Node.js dependencies
node_modules/

# macOS files
.DS_Store

# Auth and environment files
src/auth/login.json
.env
